.userList{
    background-color: aqua;
    height: 80%;
    width: 100%;
    flex-grow: 1;
}
.messageList{
    background-color: aqua;
    height: 100%;
    width: 17%;
}
.messages{
    height:90%;
    overflow-y:auto;
    overflow-x: hidden;
}
#drawingCanvas{
    width:66%;
    height: 98%;
    background-color: aliceblue;
    border:5px solid black ;
}
.game-state{
    width: 100%;
    height:15%;
    background-color: bisque;
}